/***********************    FONTS    ***********************/
 @font-face {font-family: titulos;
    src: url(../font/RobotoMono-Regular.ttf);}
  
@font-face {font-family: textonormal;
    src: url(../font/RobotoSerif-Regular.ttf);}

.ff-robotobody {font-family: textonormal;}
h1, h2, h3, h4, h5, h6 {font-family: titulos;}
 
/***********************    COLORS    ***********************/
:root {
    --darkgrey: #212121;
    --lightgrey: #393E46;
    --yellowjs: #FFD600;
    --mywhite: #EEEEEE;}

.bg-darkgrey {background-color: var(--darkgrey);}
.bg-lightgrey {background-color: var(--lightgrey);}
.bg-yellowjs {background-color: var(--yellowjs)!important;}
.text-mywhite {color: var(--mywhite);}

/***********************    SIZING    ***********************/
.w-50p {width: 50px;}
.w-70p {width: 70px;}
.w-18rem {width: 18rem;}
.fs-8{font-size: 0.8em;} 

/***********************  ANIMATIONS  ***********************/
.zoom {transition: transform .5s;}
.zoom:hover {transform: scale(1.05);}

.zoom2 {transition: transform .5s;}
.zoom2:hover {transform: scale(1.1);}

/*************** Button Style (from uiverse.io) **************/
.button {cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 0.7em;
    color: black;
    border: 2px solid var(--yellowjs);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;}

.button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: var(--yellowjs);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);}

.button:hover::before { scale: 3;}

.button:hover {color: var(--darkgrey);
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);}

.button:active {scale: 1;}

/***********************    HEADER    ***********************/
header {text-shadow: 2px 2px 4px rgb(0,0,0,0.75);}

/***********************    NAVBAR    ***********************/
nav {background-color: var(--darkgrey);}

/***********************    FOOTER    ***********************/
footer {text-shadow: 2px 2px 4px rgb(0,0,0,0.75);}

.fa-github {background-color: black;
    border: solid 1px #444;}
    
.fa-linkedin-square {background-color: #0A66C2;}